// Primary
$button-primary-background: $primary;
$button-primary-padding: 0.5rem 1rem;
$button-primary-color: $primary;

// Secondary
$button-secondary-background: transparent;
$button-secondary-padding: 0;
$button-secondary-color: $primary;

// Outline
$button-outline-border: 1px solid $primary;
$button-outline-padding: 0.5rem;
$button-outline-line-height: 1;
$button-outline-height: 2rem;

$button-outline-bg-hover: $primary;
$button-outline-color-hover: white;

.button {
  border: 1px solid $button-primary-background;
  background: $button-primary-background;
  cursor: pointer;
  display: inline-block;
  color: white;
  line-height: 1.25;
  padding: $button-primary-padding;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: transparent;
    color: $button-primary-color;
    outline: none;
  }
}

.button-secondary {
  border: none;
  background: $button-secondary-background;
  padding: $button-secondary-padding;
  color: $button-secondary-color;
  cursor: pointer;

  &:hover,
  &:focus {
    border: none;
  }
}

.button-outline {
  border: $button-outline-border;
  padding: $button-outline-padding;
  line-height: $button-outline-line-height;
  height: $button-outline-height;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $button-outline-bg-hover;
    color: $button-outline-color-hover;
  }
}

.button-small {
  font-size: $font-size-base-sm;
  padding: 0.25rem 0.5rem;
}

.form-row {
  margin-bottom: 20px;
  position: relative;

  label {
    font-size: $font-size-base-sm;
  }

  .input-text {
    border: 2px solid $primary;
    border-radius: 0;

    padding: 0.5rem;
    width: 100%;
    text-transform: uppercase;
    outline: 0;
  }
}

select {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

input {
  border-radius: 0;
}

label,
* span {
  font-size: $font-size-base-sm;
}