@font-face {
  font-family: 'BrownStdRegular';
    src: url('../fonts/BrownStdRegular.eot');
    src:
      url('../fonts/BrownStdRegular.eot') format('embedded-opentype'),
      url('../fonts/BrownStdRegular.woff2') format('woff2'),
      url('../fonts/BrownStdRegular.woff') format('woff'),
      url('../fonts/BrownStdRegular.ttf') format('truetype'),
      url('../fonts/BrownStdRegular.svg#BrownStdRegular') format('svg');
 }

 